{{> header}}


   <h1>PotHole Alert Page</h1>

   <ul>

 {{#each report}}

   <li><p>Reported User ID : {{this.userID}} </p></li>
   <p>Reported Date:{{getdate this.date}}</p>
   <p> Place : {{this.place}} </p>
   <img src="{{this.image}}" alt="">
   <p>location in lat & lng : {{this.location.lat}},{{this.location.lng}}</p>
   <p>Description : {{this.description}}</p>
   <!-- <form action = "/edit/{{ this._id}}" method = "GET">
   <button>Edit</button>
   </form>
    <form action = "/del/{{this.type}}/{{this._id}}" method = "POST">
   <button>DELETE</button>
   </form> -->
   <hr>
 {{/each}}
</ul>


{{> footer}}
